/* browser reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common styles */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
.btn{
    font-family: "Inter", sans-serif; 
    padding: 1rem 3rem;
    background-color: #000;
    color: #ffffff;
    border-radius: 2.5rem;
    font-size: 1.13rem;
    border: 1px solid #ffffff;

}
.btn:hover{
    background-color: #E6533C;
    border: 1px solid transparent;
}
.first-btn{
    background-color: #E6533C;
    border: 1px solid transparent;
}
.bg-color{
    background-color: rgb(0, 1, 1);
}
.white{
    color: #ffffff;
}
.orange{
    color: #E6533C;
}
.light-black{
    color: #222222;
}
.light-white{
    color: rgba(255, 255, 255, 0.1);
}
.black-gradient{
    background: linear-gradient(180deg, rgba(17,17,17,1) 100%, rgba(119,119,119,1) 0%);
}
.black-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.cyan-overlay{
    background-color: rgba(6, 255, 210, 0.5);
}
.red-overlay{
   background-color: rgba(255, 0, 0, 0.3);
}
.grey-overlay{
    background-color: rgba(0, 0, 0, 0.631);
}
.green-overlay{
    background-color: rgba(66, 255, 0, 0.3);
}
.blue-overlay{
    background-color: rgba(0, 71, 255, 0.3);
}
.primary-font{
    font-family: "Inter", sans-serif;
}
.secondary-font{
    font-family: 'Miama', sans-serif;
}
.d-flex{
    display: flex;
}

/* nav styles start */
nav{
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}
.brand-logo{
    font-size: 2.25rem;
    font-weight: 600;
    font-style: italic;
}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.44rem;
    padding: 0.75rem 0.25rem;
    font-size: 1.125rem;
}
#menu-icon{
    display: none;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1.25rem;
    margin-right: 2.94rem;
}
.nav-links #home{
    background-color: #E6533C;
    border-radius: 2.88rem; 
}
.nav-link:hover{
    background-color: #E6533C;
    border-radius: 2.88rem; 
    transition: ease-in-out;
}
/* banner styles start */
.banner{
    gap: 5.5rem;
    padding: 0 1rem;
    justify-content: space-around;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.banner-content h1 span{
    font-family: 'Miama', sans-serif;
}
.banner-content h1{
    font-size: 4.5rem;
}
.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    margin: 1.75rem 0;
}
.banner-img{
    position: relative;

}
.banner-img img{
    display: block;
    width: 100%;
}
.buttons{
    gap: 0.8rem;

}
.workout-video {
    background-color: rgba(255, 255, 255, 0.1);
    width: 10rem;
    height: 6rem;
    border-radius: 0.75rem;
    padding: 1rem 0.5rem;
    position: absolute;
    top: 10%;
    left: 50%;
}
.workout-video h3{
    font-size: 2.5rem;
}
.workout-video p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}

.workout-tutorial{
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color:  rgba(255, 255, 255, 0.1); 
    width: 12.8rem;
    height: 6rem;
    border-radius: 0.75rem;
    padding: 1.25rem 1.4rem;
    position: absolute;
    top: 70%;
    left: 0%;
}
.workout-tutorial .circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #E6533C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-tutorial h3{
    font-size: 1.5rem;
}
.workout-tutorial p{
    font-size: 1rem;
}
/* habit section styles start */
.habit{
    padding: 6.25rem;
}
.habit-content {
    margin-bottom: 3.6rem;
}
.habit h3{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.25rem;
}
.habit p{
    font-size: 0.875rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.habit-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 2.5rem;
    justify-content: center;
}
.habit-image{
    text-align: center;
}
.habit-image img{
    height:11.25rem ;
    width: 11.25rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.8rem;
}
.habit-image h4{
    font-size: 1.12rem;
    margin-bottom: 6px;

}
.habit-image p{
    font-size: 0.875rem;
}
/* run section styles start*/
.run{
    padding: 1.875rem 2rem 1.875rem 3.375rem ;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.run-content{
    width: 40%;
}
.run-content h3{
    font-size: 3rem;
}
.run-content p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 0.8rem ;
    padding-bottom: 2rem;
}

.run-image{
    width: 22.875rem;
    height: 19.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.run-image img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(3);
    position: absolute;
    top: 34%;
    left: -34%;
}
/* training section styles start */
.training-content{
    padding-bottom: 3.6rem;
}
.training-content h3{
    font-size: 3rem;
    padding-bottom: 0.8rem;
}
.training-content p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}
.training-images{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-auto-rows: 19rem;

}
.img-col-3{
    grid-column: span 3;
}
.img-col-2{
    grid-column: span 2;
}

.training-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    
}
.training-image{
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.overlay p{
    font-size: 0.8rem;
}
.overlay .p-bottom{
    position: relative;
    width: 85%;
    top: 80%;
    left: 10%;
}
.overlay .p-top-left{
    position: absolute;
    top: 10%;
    left: 10%;
}
.overlay .p-top-right{
    position: absolute;
    width: 48%;
    top: 10%;
    right: 0%;
}
/* bmi-calc styles star */
.bmi{
    padding: 5.5rem 0;
}
.bmi-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5.5rem;
}
.bmi-content h2{
    font-size: 3rem;
}
.bmi-content p{
    font-size: 0.8rem;
    color: color: rgba(255, 255, 255, 0.5);;
}
.bmi-calculator{
    background-color: #222323;
    padding: 3.25rem 2rem;
    gap: 10.9rem;
}
.bmi-chart h2{
    font-size: 1.75rem; 
    padding-bottom: 3.25rem;
}
.bmi-chart table{
    width: 20rem;
}
.bmi-chart table, th, td {
    text-align: left;
    padding: 13px 0 13px 18px;
    border: 1px solid rgba(255, 255, 255,0.1);
    border-collapse: collapse;
}
.bmi-chart th{
    font-size: 1rem;
    font-weight: 400;
}
.bmi-chart td{
    font-size: 0.8rem;
    color: rgba(255,255,255,0.5);
}
.bmi-input-field h2{
    font-size: 1.75rem;
    padding-bottom: 0.8rem;
}
.bmi-input-field p{
    font-size: 0.8rem;
    color: rgba(255,255,255,0.5);
    padding-bottom: 2.125rem;
}
.input-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}
.col-span-2{
    grid-column: span 2;
}
input, select {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 1.25rem;
    height: 3rem;
    color: rgba(255,255,255,0.5);
    width: 100%;
}
::placeholder{
    color: rgba(255,255,255,0.5);
}
 select option {
    color: rgba(255,255,255,0.5);
    background-color: #222323;
 

}

@media (min-width:320px) and (max-width:575.98px){
    .nav-links{
        display: none;
    }
    #menu-icon{
        /* visibility: visible; */
        display: block;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .btn{
        padding: 1rem 2.5rem;

    }
    .banner-content .btn .club{
        display: none;
    }
    .workout-video {
        width: 8.6rem;
        height: 5.5rem;
        top: 0%;
        left: 51%;
        padding: 0.5rem;
    }
    .workout-video p{
        font-size: 0.7rem;
    }
    .workout-tutorial{
        width: 10rem;
        height: 4rem;
        top: 61%;
        left: 0%;
        padding: 0.8rem;
    }
    .workout-tutorial h3{
        font-size: 1rem;
    }
    .workout-tutorial p{
        font-size: 0.7rem;
    }
    .run{
        flex-wrap: wrap;
    }
    .run-content{
        width: 100%;
        margin-bottom: 2rem;
    }
    .run-content p{
        line-height: 2rem;
    }
    /* training styles start */
    .training-content{
        padding-left: 1rem ;
    }
    .training-content p{
        line-height: 2rem;
    }
    .training-images{
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
    }
    .img-col-3{
        grid-column: span 1;
    }
    .img-col-2{
        grid-column: span 1;
    }
    .overlay .p-bottom {
        top: 60%;
    
    }
    .bmi-chart table {
        width: auto;
    }
    .bmi-calculator {
        flex-wrap: wrap;

    }
} 
@media (min-width:575.98px) and (max-width: 992) {
    .banner{
        gap: 0;
        flex-direction: column;
    }
    .btn{
        padding: 1rem;
    }
    .workout-video {
        width: 9rem;
        top: 23px;
        left: 160px;
    }
    .workout-tutorial{
        top: 60%;
        left: 5%;
    
    }


}






